.modal__image {
  margin: 0;
  max-width: 498px;
  max-height: 498px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal__content_type_image {
  padding: 0;
  max-width: 498px;
}

.modal__close {
  background-color: transparent;
}

.modal__close-image {
  background-color: transparent;
}

.modal__caption {
  margin: 20px 0 12px 32px;
  font-size: 20px;
}

.modal__weather {
  margin: 0 0 32px 32px;
  font-size: 20px;
}
